.parallax {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto; 
	perspective: 1px;
	font-size: 36px;
}

.parallax-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	padding: 100vh 0;
}

.parallax-back-layer {
	transform: translateZ(0);
	background-color: red;
}

.parallax-base-layer {
	transform: translateZ(-10px) scale(5);
	background-size: cover;
	background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQSHrT7NFxa1w97Aydhu9FQd9wgaEvWVv99SfSsuRs1KQisaO0KYg')no-repeat;
}

.holder-text {
	position: absolute;
	top: 50%;
	left: 50%;
}